.converter {
  text-align: center;
}

.container-previewer {
  margin: 1.25rem auto;
  min-height: 200px;
  background-color: #c0d8d8;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
  text-align: left;
}

.container-previewer img {
  width: 300px;
  margin-left: 20px;
}

#preview {
  padding: 0 1rem;
}
.toolbar {
  display: flex;
  align-items: center;
  background-color: #4aa3a3;
  padding: 0.3rem;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  font-family: Russo One;
  font-size: 1rem;
  color: black;
}

.toolbar i {
  background: none;
  font-size: 20px;
}

.fa-square-pen {
  margin-right: auto;
}

.fa-maximize {
  margin-left: auto;
}

#preview code {
  background: white;
  padding: 3px;
}

#preview pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}

#preview table {
  border-collapse: collapse;
}
